/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
	margin: 0px;
}


.hlavicka {
	background-color: #3498db;
	color: white;
}

a {
	display: block;
	padding: 5px 15px;
	color: white;
	text-decoration: none;
}

a:hover {
	background-color: white;
	color: #3498db;
}

.hlavicka {
	display: inline-block;
	width:100%;
	}

.logo {
	display: inline-flex;
	width: 38%;
	padding-left: 2rem;
	}

.menu {
	display: inline-flex;
	width: auto;
	flex-direction: row;
	justify-content: flex-end;
	width: 60%;
}

.menu li {
	list-style-type: none;
	display: inline-flex;
}

.menu ul {
padding-left: 0;
}



/* ---------------------------------------------------- */
